header {
    background-color: blue;
    padding: 1rem;
    color: rgb(203, 205, 206);
    text-align: center;
}

nav {}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li {
    padding: 10px;
    border: 1px solid white;
    font-size: 20px;
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(203, 205, 206);
}