<header class="container">
  <h2>{{ title }}</h2>
    <nav>
      <ul class="nav nav-pills">
        <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
        <li *hasRole="'ROLE_USER'"><a routerLink="active" routerLink="/user-page">User</a></li>
        <li *hasRole="'ROLE_SUPERUSER'"><a routerLink="active" routerLink="/super-page">Super</a></li>
        <li *hasRole="'ROLE_ADMIN'"><a routerLink="active" routerLink="/admin-page">Admin</a></li>
        <li *isAuthenticated="false"><a routerLinkActive="active" routerLink="/login">Login</a></li>
        <li class="logout-btn" *isAuthenticated="true"><a  (click)="logout()" >Logout</a></li>
      </ul>
    </nav>
  </header>
