<ng-container>
	<h1>Greeting</h1>
	<div class="greeting-message" *ngIf="greeting" [hidden]="!isAuthenticated()" data-testid="greeting-message">
		<p>The ID is {{ greeting.id }}</p>
		<p>The content is {{ greeting.content }}</p>
		<h2>Athenticated as : {{ getUserName() }} </h2>
		<h3>Roles :</h3>
		<p *ngFor="let role of getUserRoles()">{{ role.authority }}</p>
		<p>User Role specific: {{ userData | json }} </p>
	</div>
	<div class="login-message" data-testid="login-message" [hidden]="isAuthenticated()">
		<p>Login to see your greeting</p>
	</div>
</ng-container>